* {
    box-sizing: box;
}

body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;;
}


.search {
    position: relative;
    height: 50px;
}


.search .input {
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: 0;
    margin: 0;
    padding: 10px;
    transition: 0.3s ease;
}

.btn {
    background-image: url('https://mir-zakolok.su/images/3-M.jpg');
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    border: 0;
    padding: 10px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.input:focus, .btn:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}
